@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
}

.placement {
	position: absolute;
}


.tears {
	  left: 390px;
  top: 560px;
  width: 40px;
	height:70px;
}

.tears2 { 
	left: 375px;
  top: 635px;
  width: 80px;
	height: 140px;
	opacity: 0;
	transition: opacity 0s;
}

.tears2:hover {
	opacity: 1;
}

	


.tears3 {
	left: 355px;
	top: 800px;
	width: 120px;
	height: 200px;
	opacity: 0;
}

.tears3:hover {
	opacity: 1;
}

.tears4 {
	left: 330px;
	top: 990px;
	width: 200px;
	height: 320px;
	opacity: 0;
}


.tears4:hover {
	opacity:1;
}

.ocean {
	left: 0px;
	top: 1300px;
	opacity: 0.5;
}


h1 {
	left: 1200px;
	top: 1255px;
	text-align: center;
	position: absolute;
	color:aliceblue;
	font-size: 18px;
	
}
