@charset "UTF-8";

body {
	background-color: crimson;
}

.placement {
	position: absolute;
}

.stop {
	top: 200px;
	left: 600px;
}

.left {
	top: 300px;
	left: 400px;
}
.large {
	top: 300px;
	left: 300px;
	opacity: 0;
	transition: opacity 0s;
}

.large:hover {
	opacity: 1;
}


.small {
	top: 400px;
	left: 900px;
	opacity: 0;
	transition: opacity 0s;
	
}

.small:hover {
	opacity: 1;
}

.a {
	left: 1250px;
	top: 750px;
	color: aliceblue;
}

.leftsmall {
	top: 100px;
	left: 1100px;
	opacity: 0;
	transition: opacity 0s;
}

.leftsmall:hover {
	opacity:1;
}

.right {
	top: 300px;
	left:1200px;
}

.b { 
	left: 1150px;
	top: 570px;
}
	
