@charset "UTF-8";
/* CSS Document */

h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-align: center;
	font-kerning: normal;
	color: cornflowerblue;
	
}


h2 {
	
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-align: center;
	color:lightsalmon;
}

h3 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-align: center;
	color:burlywood;
}




div2 {
	background-color: crimson;
	width: 1100px;
	height: 100px;
	padding: 50px;
	margin: 120px;
	position: absolute;
	
	
}




div4 {
	background-color: gold;
	width: 1100px;
	padding: 50px;
	margin: 120px;
	position: absolute;
	margin-top: 500px
}


div6{
	background-color: cornflowerblue;
	width: 1100px;
	padding: 50px;
	margin: 120px;
	position: absolute;
	margin-top: 860px;
	
}

.placement {
	position: absolute;
	
}

.smile {
	left: 330px;
  top: 200px;
  z-index: 4;
}

.emotionless {
	left: 600px;
	top: 200px;
		z-index: 4;
}

.sad {
	left: 870px;
	top: 200px;
	z-index: 4;
}


.dead {
	left: 310px;
  top: 192px;
  z-index: 4;
	opacity: 0;
		transition: opacity 0s;
	
}
.dead:hover{
	opacity:1;
}

.joy {
	left: 854px;
	top: 185px;
	z-index: 4;
	opacity: 0;
	transition: opacity 0s;
}

.joy:hover{
	opacity:1;
}

.shock {
	left: 608px;
	top: 185px;
	z-index: 4;
	opacity:0;
	transition: opacity 0s;
}

.shock:hover{
	opacity: 1;
	
}

